@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
}

/* palette couleurs Keller Williams 
Rouge hover ( plus clair ) : #CC0202
Rouge foncé : #B40403
Noir : #000000
Blanc : #FFFFFF
Gris clair : #F6F9FA
Gris moins clair : #EFEFEF


*/
